@font-face {
  font-family: "Overpass Mono";
  src: url("fonts/overpass-mono.ttf");
}

@font-face {
  font-family: "Overpass";
  src: url("fonts/overpass.ttf");
}

@font-face {
  font-family: "Overpass";
  src: url("fonts/overpass-italic.ttf");
  font-style: italic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-variation-settings: 300;
}

ul ul {
  --scrollbar-foreground: #ddd;
  --scrollbar-background: white;
  max-height: 0;
  overflow-y: hidden;
  margin-left: -0.5em;
}

nav {
  overflow-y: scroll;
  scrollbar-width: 0.5em;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

nav::-webkit-scrollbar {
  width: 0.5em;
}

nav::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

nav::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

li {
  margin: 0;
  font-family: "Overpass Mono";
  font-size: calc(3px + 0.8em);
  line-height: 1.8em;
  padding-left: 2.5em;
  cursor: pointer;
  transition: font-variation-settings 0.2s ease-in-out;
  user-select: none;
}

li:hover {
  font-variation-settings: 'wght' 600;
}

li:hover ul {
  font-variation-settings: 'wght' 300;
  padding-left: 0;
}

body {
  margin: 0;
  font-variation-settings: 'wght' 300;
}

header {
  position: absolute;
  margin-left: 0;
  height: 5em;
  width: 100vw;
  background: #222 url('etc/logo.svg') no-repeat fixed right;
  background-size: 3em;
  background-position: calc(100vw - 4em) 1em;
}

header ul {
  height: 5em;
  margin: 0;
}

nav {
  position: absolute;
  margin: 8em 0 0 3em;
  height: calc(100vh - 10em);
  width: 25em;
}

header a, header a:link, header a:visited {
  text-decoration: none;
  color: white;
  font-family: "Overpass";
  font-variation-settings: 'wght' 700;
  line-height: 5em;
}

header ul li {
  display: inline;
}

li:focus {
  outline-width: 0;
}

ul:has(li:focus) { max-height: 1000vh; }
li:focus>ul { max-height: 1000vh; }
li.package { padding-left: 2em; background-image: url("etc/m.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.class { padding-left: 2em; background-image: url("etc/sc.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.module { padding-left: 2em; background-image: url("etc/o.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.method { padding-left: 2em; background-image: url("etc/d.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.inlinemethod { padding-left: 2em; background-image: url("etc/di.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.transinlinemethod { padding-left: 2em; background-image: url("etc/dit.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.transinlinegiven { padding-left: 2em; background-image: url("etc/git.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.inlinegiven { padding-left: 2em; background-image: url("etc/gi.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.given { padding-left: 2em; background-image: url("etc/g.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.type { padding-left: 2em; background-image: url("etc/y.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.var { padding-left: 2em; background-image: url("etc/w.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.val { padding-left: 2em; background-image: url("etc/v.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }
li.trait { padding-left: 2em; background-image: url("etc/z.svg"); background-size: 1.6em; background-repeat: no-repeat; background-position: 0 0; }

.slideshow-outer {
  overflow: hidden;
  overscroll-behavior: contain;
  width: 650px;
}

.slideshow {
  overflow: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 640px;
  height: 400px;
}

.slideshow>div {
  scroll-snap-align: start;
  width: 600px;
  height: 400px;
  margin-right: 50px;
  background-color: #fafafa;
  flex-shrink: 0;
}
.slideshow>div>.next {
  height: 300px;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 50px;
  position: absolute;
  display: block;
  margin-left: 600px;
}

.slideshow>div>.prev {
  height: 300px;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 50px;
  position: absolute;
  display: block;
}
