@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
:root
  { --accent:       #b40049;
    --accent-light: #b4004911;
    --accent-mid:   #b4004977;
    --fg-color:     #000c;
    --bg-color:     #fff;
    --mono-font:    "Atkinson Hyperlegible Mono";
    --body-font:    "Atkinson Hyperlegible Next";
    --shadow:       0 0 0.5rem #ddd;
    --full-width:    1800px;
    --column-width:  320px;
    --content-width: calc(var(--full-width) - var(--column-width));
    --line-padding:  2rem;
    --shadow-width:  0.5rem;
    --line-width:    calc(var(--content-width) - 2*var(--line-padding) - 2*var(--shadow-width));
    --thin:          0.1rem;

    &:has(#interpolate-size:checked)
      { interpolate-size: allow-keywords;

        & details[open]::details-content { height: auto; } } }

* { margin: 0; padding: 0; }

html { font-size: 16px; }

.dark
  { --fg-color: #fffc;
    --bg-color: #012;

    & header { background-image: url('/logo2.svg'); }
    & .amok
      { background: linear-gradient(135deg, #0d1e2f40, #0e1d250);
        box-shadow: 0 0 0.5rem #1f1f1f;
        border:     solid 1px #0f2f3f99;

        & .error    { color: #cc0033; }
        & .number   { color: #cc3366; }
        & .modifier { color: #ff9966; }
        & .keyword  { color: #ff6633; }
        & .ident    { color: #ffcc99; }
        & .term     { color: #ffcc33; }
        & .typed    { color: #00cc99; }
        & .string   { color: #99ddbb; }
        & .parens   { color: #cc6699; }
        & .symbol   { color: #cc3366; }
        & .unparsed { color: #2288aa; } } }

body
  { font-family:      var(--body-font);
    background-color: var(--bg-color);
    font-weight:      300;
    line-height:      1;
    display:          grid;
    height:           100vh;
    align-content:    start;
    &:has(#open-all:checked) ::details-content
      { content-visibility: auto; height: calc-size(auto, size); opacity: 1; } }

header, footer
  { width:         var(--full-width);
    padding:       1rem calc(50vw - var(--full-width)/2);
    border-bottom: solid var(--thin) #e8e8e8; }

header
  { position:            absolute;
    height:              2rem;
    line-height:         2rem;
    padding-top:         2rem;
    padding-bottom:      2rem;
    text-align:          right;
    font-weight:         220;
    background-image:    url('/logo.svg');
    background-size:     19rem;
    background-repeat:   no-repeat;
    background-position: calc(50vw - var(--full-width)/2 - 20px) 1rem;
    box-shadow:          var(--shadow);

    & ul
      { list-style:  none;
        font-family: var(--mono-font);
        font-weight: 300;

        & li
          { transition:  all ease 0.3s;
            display:     inline-block;
            margin-left: 1rem;

            & a { transition: all ease 0.3s; color: #666; }

            &:hover
              { border-bottom: solid 0.1rem var(--accent);

                & a { color: var(--fg-color); } } } } }

footer
  { background-color: var(--accent-light);
    color:            var(--fg-color);
    text-shadow:      0 0 0.25rem white;
    padding-top:      1rem; }

article { margin-top: 4rem; padding: 2rem 1rem; flex: 1; overflow: hidden; width: var(--content-width); }

main
  { display:    flex;
    width:      var(--full-width);
    margin:     0 auto;
    box-sizing: border-box;
    gap:        0;
    height:     calc(100vh - 4rem); }

nav a, table a { text-decoration: none; }

aside
  { flex:          0 0 var(--column-width);
    font-family:   var(--mono-font);
    max-height:    calc(100vh - 12rem);
    position:      sticky;
    overflow:      hidden;
    margin-top:    8rem;

    & nav { height: 100%; overflow-y: auto; overflow-x: hidden; padding-right: 0.5rem; } }

h1, h2, h3, h4, h5, p
  { margin: 1.25em var(--line-padding); line-height: 1.4em; letter-spacing: 0.05em; }

h1
  { font-weight: 100;
    font-size:   3rem;
    margin:      0 2rem;

    &.pkg { font-size: 1rem; font-weight: 570; margin-left: 2.25rem; } }

h2 { font-size: 1.5rem; font-weight: 380; }
h3 { font-size: 1.3rem; font-weight: 430; }
h4 { font-size: 1.1rem; font-weight: 510; }

table.members { margin: 0 0 1em 1.5em; justify-self: start; & h3 { margin-top: 1em; } }

table
  { margin:          1em 1rem;
    border-collapse: collapse; }

td, th { text-align: left; padding: 0 0.5rem; line-height: 1.5em; vertical-align: top; }
th     { font-weight: 500; }

tr.first>td { padding-top: 0.5rem; }

td
  { &.kind, &.extension { text-align: right; padding-left: 4ch; }
    &.extension { padding-top: 4ch; }
    &.memo { margin-bottom: 0.3rem; }
    &.extension2 { padding-top: 4ch; text-align: left; }
    &>*    { margin: 0; padding: 0; } }

a
  { transition: color 0.2s ease;
    color:                     var(--fg-color);
    text-decoration:           underline dotted;
    text-underline-offset:     0.3em;
    text-decoration-color:     var(--accent-mid);
    text-decoration-thickness: var(--thin);

    &:hover, &:active { color: var(--accent); } }

b { font-weight: 600; }

iframe
  { height:           calc(100vh - 8rem);
    width:            var(--content-width);
    border:           0; margin: 1.4rem 0;
    background-color: transparent; }

ul.all
  { columns:     4;
    line-height: 1.5em;
    list-style:  none;
    padding:     1rem;
    margin:      1em;

    a { text-decoration: none; } }


details
  { &.active>summary>a { font-weight: 500; color: var(--accent); }
    &>div { padding: 0 0 0 0.5rem; }
    &.imports
      { margin-bottom: 1em;

        &>summary::after       { content: '...' }
        &[open]>summary::after { content: '' } }

    & summary
      { display:     flex;
        align-items: center;
        cursor:      pointer;
        line-height: 1.5em;
        user-select: none;

        &>h3 { padding: 0; margin: 0.2rem 0 0.2rem -1.1rem; }
        &:before
          { content:      "";
            flex-shrink:  0;
            width:        1ch;
            height:       0.5rem;
            margin-right: 0.5rem; }

        &.full:before
          { background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23616569'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            transform:         rotate(-90deg);
            background-size:   0.6rem;
            transition:        transform 0.2s ease-in-out; } }

    &[open]>summary.full
      { font-weight: 500;
        &:before
          { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b40049'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            transform:        rotate(0deg); } }

    &::details-content
      { display:             block;
        height:              0;
        opacity:             0;
        overflow:            hidden;
        width:               var(--column-width);
        transition:          height 0.3s, opacity 0.5s, content-visibility 0.3s;
        transition-behavior: allow-discrete; }

    &[open]::details-content { height: calc-size(auto, size); opacity: 1; } }

.items { margin-left: 0.5em; }

@supports not (interpolate-size: allow-keywords) { .interpolate-size { display: none; } }

code
  { font-family: var(--mono-font);
    & span
      { transition: background-color ease 0.3s;
        display:    inline-block;
        padding:    0 0.2em;
        margin:     0 -0.2em; } }

p { text-align: justify; }

span:has(> a:hover) { background-color: var(--accent-light); border-radius: 0.3em; }









.s0:checked ~ pre .line code:not(.v0),
.s1:checked ~ pre .line code:not(.v1),
.s2:checked ~ pre .line code:not(.v2),
.s3:checked ~ pre .line code:not(.v3),
.s4:checked ~ pre .line code:not(.v4),
.s5:checked ~ pre .line code:not(.v5),
.s6:checked ~ pre .line code:not(.v6),
.s7:checked ~ pre .line code:not(.v7),
.s8:checked ~ pre .line code:not(.v8),
.s9:checked ~ pre .line code:not(.v9),
.s10:checked ~ pre .line code:not(.v10),
.s11:checked ~ pre .line code:not(.v11),
.s12:checked ~ pre .line code:not(.v12),
.s13:checked ~ pre .line code:not(.v13),
.s14:checked ~ pre .line code:not(.v14),
.s15:checked ~ pre .line code:not(.v15),
.s16:checked ~ pre .line code:not(.v16),
.s17:checked ~ pre .line code:not(.v17),
.s18:checked ~ pre .line code:not(.v18),
.s19:checked ~ pre .line code:not(.v19),
.s20:checked ~ pre .line code:not(.v20),
.s21:checked ~ pre .line code:not(.v21),
.s22:checked ~ pre .line code:not(.v22),
.s23:checked ~ pre .line code:not(.v23),
.s24:checked ~ pre .line code:not(.v24),
.s25:checked ~ pre .line code:not(.v25),
.s26:checked ~ pre .line code:not(.v26),
.s27:checked ~ pre .line code:not(.v27),
.s28:checked ~ pre .line code:not(.v28),
.s29:checked ~ pre .line code:not(.v29),
.s30:checked ~ pre .line code:not(.v30),
.s31:checked ~ pre .line code:not(.v31),
.s32:checked ~ pre .line code:not(.v32),
.s33:checked ~ pre .line code:not(.v33),
.s34:checked ~ pre .line code:not(.v34),
.s35:checked ~ pre .line code:not(.v35),
.s36:checked ~ pre .line code:not(.v36),
.s37:checked ~ pre .line code:not(.v37),
.s38:checked ~ pre .line code:not(.v38),
.s39:checked ~ pre .line code:not(.v39),
.s40:checked ~ pre .line code:not(.v40),
.s41:checked ~ pre .line code:not(.v41),
.s42:checked ~ pre .line code:not(.v42),
.s43:checked ~ pre .line code:not(.v43),
.s44:checked ~ pre .line code:not(.v44),
.s45:checked ~ pre .line code:not(.v45),
.s46:checked ~ pre .line code:not(.v46),
.s47:checked ~ pre .line code:not(.v47),
.s48:checked ~ pre .line code:not(.v48),
.s49:checked ~ pre .line code:not(.v49),
.s50:checked ~ pre .line code:not(.v50)
 { opacity:          0;
   text-shadow:      0 0 0.1em black, 0 0 0.3em #fffa;
   font-weight:      600;
   transition:       text-shadow  ease  0.25s  0s,
                     font-weight  ease  0.25s  0s,
                     opacity      ease  0.5s   1.25s,
                     width        ease  0.5s   1.75s,
                     height       ease  0.5s   1.75s;
   width:            0 !important;
   height:           0 !important }

pre code
 { opacity:     1;
   display:     inline-block;
   height:      1.5em;
   line-height: 1.5em;
   overflow:    hidden;
   font-size:   2000%;
   text-shadow: none;
   transition:  width        ease  0.5s  1.75s,
                height       ease  0.5s  1.75s,
                opacity      ease  0.5s  2.25s,
                font-weight  ease  3s    2.5s,
                text-shadow  ease  3s    2.5s; }

span.line { display: block; line-height: 0; font-size: 5%; }

input[type="radio"]
 { appearance: none;
   width:            0.75em;
   height:           0.75em;
   border:           none;
   border-radius:    50%;
   display:          inline-block;
   vertical-align:   middle;
   background-color: #ffffff55;
   cursor:           pointer;
   margin:           0 1em 1.5em 0;
   transition:       all 1.5s 0.5s; }

 /* Show yellow filled circle when checked */
input[type="radio"]:checked
 { background-color: var(--accent);
   box-shadow:       0 0 0.75em #ffffff;
   transition:       all 0.75s 0s; }

.amok
 { border-radius:    1vw;
   background-color: #100020;
   padding:          1em 2em 1.5em 2em;
   width:            calc(100% - 6em);
   margin:           1em 0;

   & .error    { color: #cc0033; }
   & .number   { color: #cc3366; }
   & .modifier { color: #ff9966; }
   & .keyword  { color: #ff6633; }
   & .ident    { color: #ffcc99; }
   & .term     { color: #ffcc33; }
   & .typed    { color: #00cc99; }
   & .string   { color: #99ddbb; }
   & .parens   { color: #cc6699; }
   & .symbol   { color: #cc3366; }
   & .unparsed { color: #2288aa; font-style: italic; } }

label { display:inline-flex; align-items:center; gap:.5rem;  }
#root
 { transition:       all 0.3s;
   cursor:           pointer;
   width:            1.4rem;
   height:           1.4rem;
   margin-right:     0.8em;
   appearance:       none;
   text-align:       center;
   border:           solid 0.1em var(--accent-mid);
   border-radius:    50%;
   font-size:        0.65em;
   color:            var(--accent-mid);
   background-color: #fff; }
#root:hover { border-color: var(--accent-mid); color: var(--accent-mid); background-color: var(--accent-light);}
#root::after { content:"⬇"; }
#root:checked { background-color: var(--accent-light); color: var(--accent); border-color: var(--accent) }
#root:hover:checked { background-color: white; border-color: var(--accent-mid); color: var(--accent-mid); }
