@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
:root { --highlight: #b40049; }
* { margin: 0; padding: 0; }

p { margin-top: 0.5em; margin-bottom: 0.5em; }

ul { padding-left: 1em; }

footer { background-color: #bb4253; color: white; padding-top: 1em; }

header, footer
  { width:         960px;
    padding:       1em calc(50vw - 480px);
    border-bottom: solid 1px #e8e8e8; }

header
  { height:              2em;
    line-height:         2em;
    padding-top:         2em;
    padding-bottom:      2em;
    text-align:          right;
    font-weight:         200;
    font-size:           0.8em;
    background-image:    url('/logo.svg');
    background-size:     19em;
    background-repeat:   no-repeat;
    box-shadow:          0 0 0.6em #ddd;
    background-position: calc(50vw - 500px) 1em;

    & ul
      { list-style:  none;
        font-family: "Atkinson Hyperlegible Mono";
        font-weight: 300;
        & li
          { transition: all ease 0.3s;
            display: inline-block;
            margin-left: 1em;
            & a { transition: all ease 0.3s; color: #666; }
            &:hover
              { border-bottom: solid 0.1em var(--highlight);
                & a { color: black; } } } } }


body
  { font-family:   "Atkinson Hyperlegible Next";
    font-weight:   300;
    line-height:   1;
    display:       grid;
    height:        100vh;
    align-content: start;
    &.dark { color: white; background-color: #012; } }

main
  { display:    flex;
    width:      960px;
    margin:     0 auto;
    box-sizing: border-box;
    gap:        0;
    height:     calc(100vh - 8em); }

a
  { color:          black;
    text-decoration: none;

    &:hover, &:active { color: var(--highlight); } }

h1 { font-weight: normal; }
iframe { height:calc(100vh - 8em); border: 0; margin: 1.4em 0; background-color: transparent; }

nav
  { flex:          0 0 300px;
    max-height:    calc(100vh - 8em);
    position:      sticky;
    top:           0;
    overflow:      hidden;
    margin-inline: auto;
    margin-block:  30px; }

.menu
  { height:        100%;
    overflow-y:    auto;
    padding-right: 0.5rem;
    font-family:   "Atkinson Hyperlegible Mono"; }

article { flex: 1; overflow: hidden; }

.content { padding: 0 0 0 0.5em; }

details
  { & summary
      { display:     flex;
        align-items: center;
        cursor:      pointer;
        font-size:   0.8em;
        line-height: 1.5em;
        user-select: none;

        &:before
          { content:      "";
            flex-shrink:  0;
            width:        0.5rem;
            height:       0.5rem;
            margin-right: 0.5rem; }

        &.full:before {
          background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23616569'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          transform:         rotate(-90deg);
          background-size:   0.5rem;
          transition:        transform 0.2s ease-in-out;
        } }

    &[open]>summary.full
      { font-weight: 500;
        &:before
          { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b40049'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            transform:        rotate(0deg); } }

    &::details-content
      { display:             block;
        height:              0;
        opacity:             0;
        overflow:            hidden;
        width:               300px;
        transition:          height 0.3s, opacity 0.5s, content-visibility 0.3s;
        transition-behavior: allow-discrete; }

    &[open]::details-content { height: calc-size(auto, size); opacity: 1; } }

body:has(#open-all:checked) ::details-content
  { content-visibility: auto; height: calc-size(auto, size); opacity: 1; }

:root:has(#interpolate-size:checked)
  { interpolate-size: allow-keywords;

    & details[open]::details-content { height: auto; } }

@supports not (interpolate-size: allow-keywords) { .interpolate-size { display: none; } }
